:root {
  --light-bg-color: #c7cdd4;
  --bg-color: #d7d5d5;
  --dark-bg-color: #8a8686;
  --darker-bg-color: #525252;

  --title-color: #333333;
  --text-color: #525252;
  --links-color: #0072bb;

  --purple-feature-color: #9284be;
  --green-feature-color: #cddc39;

  --data-color-P1: #e3daff;
  --data-color-P2: #c1b1f3;
  --data-color-P3: #9284be;
  --data-color-P4: #524a69;
  --data-color-P5: #37314a;

  --data-color-G1: #bfc390;
  --data-color-G2: #cddc39;
  --data-color-G3: #a1b100;
  --data-color-G4: #6a7501;
  --data-color-G5: #303500;
}

p {
  color: var(--text-color);
}

body{
    font-family: "Encode Sans", sans-serif;
  
}


.footer .title h3 {
  font-family: "Encode Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
}


footer {
  background-color: #37bbed;
}

footer .logo-arg-container {
  padding: 30px 0 40px 0;
  height: 150px;
}

footer .logo-arg-container img {
  width: 288px;
  height: 40px;
}

@media (min-width: 786px) {
 .table-responsive{
   display: inline-table;
 }
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.jumbotron{
  padding: 3px 0px 30px;
  color: black;
}


.agenda .jumbotron{
  padding: 10px;
  color: black;
}

.agenda a{
  text-decoration: none;
  text-align: center;
}

.card{
  min-height: 300px;
  min-width: 300px;
  margin-right: 5px;
}

div.microrrelatos{
  background-color: var(--light-bg-color);
  padding: 5px 0px;
  margin-top: 10px;
}

.title{
  padding: 0px 10px;
}

.title h2{
  margin:0.5em 0 0.1em 0;

}

.microrrelatos img{
  vertical-align: middle;
    border-style: none;
    object-fit: cover;
    width: auto;
    height: 200px;
}
.microrrelatos .card-deck{
  margin-right: 0px;
  margin-left: 0px;
}

.microrrelatos .card-deck .card {
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}


.microrrelatos .card-deck .card:hover {
  box-shadow: 0 .325rem .25rem rgba(0,0,0,.175)!important;
}



.microrrelatos .card-text {
  font-size:0.9em;
}
.microrrelatos .card-title {
  margin:2px;
  font-size:0.9em;
}

.microrrelatos .card-body {
  padding: 0.5em 1.25em;
}

