

<div class="row" style="background-color: #78c2ad47;">
    <div class="col-12">

      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="https://visualizando.github.io/precioscovid/#!/" data-target="#myModal" data-toggle="modal">Precios de referencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://visualizando.github.io/precioscovid/#!/about" data-target="#myModal" data-toggle="modal">Acerca del proyecto</a>
        </li>
      </ul>
    </div>
  </div>
  <br><br>  
<h1> Portal de Precios de Referencia COVID-19 </h1>
<p>El portal de Precios de Referencia COVID-19 es una iniciativa conjunta de los miembros de la Red Federal de Contrataciones Gubernamentales de Argentina con el apoyo técnico del Banco Interamericano de Desarrollo y su programa de apoyo a las compras públicas sub-nacionales RG-T2962. Su objetivo es brindar información que pueda servir de guía y referencia para los encargados de las contrataciones públicas de distintas jurisdicciones. Los datos compartidos incluyen valores de referencia de insumos y medicamentos e información sobre proveedores.</p>
<p>
La iniciativa surge a partir de la declaración de pandemia que emitió la Organización Mundial de la Salud el 11 de marzo y los consecuentes decretos del Poder Ejecutivo Nacional (DNU N°260/2020) y las administraciones provinciales para ampliar la Emergencia Sanitaria y habilitar normativas de contratación excepcionales.
</p>

<br><br>
<h4>Normativas útiles</h4>
<div class="row">
    <div class="col-lg-10 col-md-12">
        <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Boletín Oficial de la República Argentina</h5>
                <p class="card-text">Decreto 260/2020</p>
                <p class="card-text"><small >Ampliación de la Emergencia Sanitaria</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://visualizando.github.io/precioscovid/data/documentos/DNU_260-20.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Ciudad Autónoma de Buenos Aires</h5>
                <p class="card-text">Resolución N° 294-GCABA-MHFGC-2020</p>
                <p class="card-text"><small >Coordinación de las adquisiciones de los bienes y servicios relacionados con la emergencia sanitaria, y aprobación de DDJJ a presentar por los proveedores en dichos procedimientos.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://visualizando.github.io/precioscovid/data/documentos/Resolucion_294-GCABA-MHFGC.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Provincia de Santa Fe</h5>
                <p class="card-text">Ley N° 13.977</p>
                <p class="card-text"><small >Declaración del Estado de Necesidad Pública</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://visualizando.github.io/precioscovid/data/documentos/Ley13977_SANTA-FE-NECESIDAD-PUBLICA.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
          </div>
        
    </div>
</div>
<br><br>
<h4>Portales nacionales de contrataciones y compras públicas por COVID-19</h4>
<ul>
<li><a href="https://www.argentina.gob.ar/jefatura/innovacion-publica/oficina-nacional-de-contrataciones-onc/procedimientos-covid" target="_blank">ARGENTINA <i class="fas fa-external-link-alt"></i></a></li>
<li><a href="https://app.powerbi.com/view?r=eyJrIjoiNmU2NzBkNzUtYmM1Mi00NGVmLTljYWQtNTIxNTlhMTQ4ZjQ5IiwidCI6ImIwMGQ1ZjQ5LTk4YWMtNGJjNS1hMmM5LWNhZmRmNzEyMTZmMCIsImMiOjR9 " target="_blank">CHILE <i class="fas fa-external-link-alt"></i></a></li>
<li><a href="https://app.powerbi.com/view?r=eyJrIjoiMGQ5YTkwNzItZWVhMC00ZTgxLWJmYzgtODE1NWE0ZGZmNDVkIiwidCI6IjdiMDkwNDFlLTI0NTEtNDlkMC04Y2IxLTc5ZDVlM2Q4YzFiZSIsImMiOjR9" target="_blank">COLOMBIA <i class="fas fa-external-link-alt"></i></a></li>
<li><a href="https://www.dgcp.gob.do/procesos-activos-covid-19/" target="_blank">DOMINICANA <i class="fas fa-external-link-alt"></i></a></li>
<li><a href="https://datosabiertos.compraspublicas.gob.ec/EMERGENCIA/" target="_blank">ECUADOR <i class="fas fa-external-link-alt"></i></a></li>
<li><a href="https://www.minfin.gob.gt/seguimiento-de-estados-de-excepcion" target="_blank">GUATEMALA <i class="fas fa-external-link-alt"></i></a></li>
<li><a href="https://portalunico.iaip.gob.hn/covid19.php" target="_blank">HONDURAS <i class="fas fa-external-link-alt"></i></a></li>
<li><a href="https://www.panamacompra.gob.pa/Inicio/ - !/busquedaAvanzada?BusquedaTipos=True&IdTipoBusqueda=51&title=Compras%20Mesa%20COVID-19" target="_blank">PANAMA <i class="fas fa-external-link-alt"></i></a></li>
<li><a href="https://www.rindiendocuentas.gov.py/contratista/ContratosRP" target="_blank">PARAGUAY <i class="fas fa-external-link-alt"></i></a></li>
<li><a href="https://portal.osce.gob.pe/osce/covid19/" target="_blank">PERU <i class="fas fa-external-link-alt"></i></a></li>
<li><a href="https://www.saude.gov.br/contratos-coronavirus" target="_blank">BRASIL <i class="fas fa-external-link-alt"></i></a></li>
</ul>