	<div class="row">
			<div class="col-sm-12">
				<h1  ng-show="loading" ><small><span>(cargando..) </span></small></h1>
				
			
					<div ng-hide="loading" class="form card bg-light mb-3">
						<div class="card-body">
							<form>
								<div class="row">
									<div class="col-sm-8">
										<input class="input-group input-group-lg form-control"
										 type="search" placeholder="Escribí el texto para filtrar " ng-model="search">
									</div>
									<div class="col-sm-4">
										
										<select class="custom-select"
									        ng-model="selectProvincia"
									        ng-options="option.key for option in medService.provincias">
									</select>
									</div>
								</div>
							</form>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<h6>Filtrar por ÁREA:</h6>
									<div ng-repeat="area in medService.areas">
										<a href="" ng-click="addFilterArea(area)" class="badge {{area.selectedClass}}">{{area.key}}</a>
									</div>
								</div>
								<div class="col-sm-10 badge-container">
									<h6>Filtrar por CATEGORÍA:</h6>
									<a href="" ng-repeat="categoria in medService.categorias" ng-click="addFilterCategory(categoria)" class="badge {{categoria.selectedClass}}">{{categoria.key}}</a>
								</div>
							</div>


						
						</div>
						<div class="card-footer">Total de elementos: {{filtered.length}}</div>
					</div>
				</div>

	</div>

	<div class="table-responsive-md">
			<table class="table table-hover table-sm">
				<thead>
					
				  <tr ng-hide="filtered == 0">
					<th scope="col" ng-click="sortBy('jurisdiccion')"><a href=""> Jurisdicción</a></th>
					<th scope="col" ng-click="sortBy('caus_nombre_vulgar')"><a href=""> Nombre vulgar</a></th>
					<th scope="col" ng-click="sortBy('cant_imputados')"><a href=""> Imputados</a></th>
					<th scope="col" ng-click="sortBy('cant_victimas')"><a href=""> Victimas</a></th>
					<th scope="col"  ng-click="sortBy('caus_rolsdh')" class="text-right"><a href=""> Rol</a></th>
					<th scope="col" ng-click="sortBy('estado_causa')" class="text-right"><a href=""> Estado</a></th>
					<th scope="col"></th>
				  </tr>
				</thead>
				<tbody>


				  <tr ng-hide="filtered == 0" ng-repeat="med in filtered = (medService.items  | filter: filterFn | filter: search | orderBy:propertyName:reverse)">
					<th scope="row" class="align-middle">{{med.jurisdiccion}}</th>
					<td class="align-middle">{{med.caus_nombre_vulgar}}</td>
					<td class="align-middle">{{med.cant_imputados}}</td>
					<td class="align-middle">{{med.cant_victimas}}</td>
					<td class="text-right align-middle">{{med.caus_rolsdh}}</td>
					<td class="text-right align-middle">{{med.estado_causa}}</td>
					<!-- <td class="text-right align-middle"><button  type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" ng-click="showDetail(med)" data-target="#exampleModalCenter"><i class="fas fa-info-circle"></i></button></td> -->
				  </tr>
				  <div ng-show="filtered == 0">
					 	<h3> No hay resultados para el filtro elegido</h3>
					 	<p> Intentá con otros valores </p>
					 </div>
				</tbody>
			  </table>
	</div>
	

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalCenterTitle">{{selected.descripcion}}</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><b>area:</b>{{selected.area}}</li>
				<li class="list-group-item"><b>provincia:</b> {{selected.provincia}}</li>
				<li class="list-group-item"><b>categoria:</b> {{selected.categoria}} </li>
				<li class="list-group-item"><b>descripcion:</b> {{selected.descrpicion}}</li>
				<li class="list-group-item"><b>presentacion:</b> {{selected.presentacion}}</li>
				<li class="list-group-item"><b>marca:</b> {{selected.marca}}</li>
				<li class="list-group-item"><b>observaciones:</b> {{selected.observaciones || 'Sin Obsersaciones'}}</li>
				<li class="list-group-item"><b>cantidad:</b> {{selected.cantidad }}</li>
				<li class="list-group-item"><b>precio_Unitario_PESOS:</b> {{selected.precio_Unitario_PESOS }}</li>
				<li class="list-group-item"><b>certificado:</b> </li>
				<li class="list-group-item"><b>codigo:</b> {{selected.codigo }}</li>
				<li class="list-group-item"><b>proveedor:</b> {{selected.proveedor }} <b>cuit:</b> {{selected.cuit }} </li>
				<li class="list-group-item"><b>fecha:</b>{{selected.fecha }} </li>
				<li class="list-group-item"><b>N° OC / Expte:</b> {{selected.oc_ex }} </li>
			</ul>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

  
