	<div class="row">
			<div class="col-sm-12">
				<h1  ng-show="loading" ><small><span>(cargando..) </span></small></h1>
				
			
					<div ng-hide="loading" class="form card bg-light mb-3">
						<div class="card-body">
							<form>
								<div class="row">
									<div class="col-sm-8 offset-sm-2">
										<input class="input-group input-group-lg form-control"
										 type="search" placeholder="Escribí el texto para filtrar " ng-model="search">
									</div>
									<!--<div class="col-sm-4">
										
									 	<select class="custom-select"
									        ng-model="selectProvincia"
									        ng-options="option.key for option in medService.provincias">
									</select> 
									</div>-->
								</div>
							</form>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<h6>Filtrar por Estado:</h6>
									<div ng-repeat="area in medService.areas">
										<a href="" ng-click="addFilterArea(area)" class="badge {{area.selectedClass}}">{{area.key}}</a>
									</div>
								</div>
								<div class="col-sm-10 badge-container">
									<h6>Filtrar por Jurisdicción:</h6>
									<a href="" ng-repeat="categoria in medService.categorias" ng-click="addFilterCategory(categoria)" class="badge {{categoria.selectedClass}}">{{categoria.key}}</a>
								</div>
							</div>


						
						</div>
						<div class="card-footer">Total de elementos: {{filtered.length}}</div>
					</div>
				</div>

	</div>

	<div class="table-responsive-md">
			<table class="table table-hover table-sm">
				<thead>
					
				  <tr ng-hide="filtered == 0">
					<th scope="col" ng-click="sortBy('jurisdiccion')"><a href=""> Jurisdicción</a></th>
					<th scope="col" ng-click="sortBy('caus_nombre_vulgar')"><a href=""> Nombre vulgar</a></th>
					<th scope="col" ng-click="sortBy('cant_imputados')"><a href=""> Imputados</a></th>
					<th scope="col" ng-click="sortBy('cant_victimas')"><a href=""> Victimas</a></th>
					<th scope="col"  ng-click="sortBy('caus_rolsdh')" class="text-right"><a href=""> Rol</a></th>
					<th scope="col" ng-click="sortBy('estado_causa')" class="text-right"><a href=""> Estado</a></th>
					<th scope="col"></th>
				  </tr>
				</thead>
				<tbody>


				  <tr ng-hide="filtered == 0" ng-repeat="med in filtered = (medService.items  | filter: filterFn | filter: search | orderBy:propertyName:reverse)">
					<th scope="row" class="align-middle">{{med.jurisdiccion}}</th>
					<td class="align-middle">{{med.caus_nombre_vulgar}}</td>
					<td class="align-middle">{{med.cant_imputados}}</td>
					<td class="align-middle">{{med.cant_victimas}}</td>
					<td class="text-right align-middle">{{med.caus_rolsdh}}</td>
					<td class="text-right align-middle">{{med.estado_causa}}</td>
					<td class="text-right align-middle"><button  type="button" class="btn btn-outline-secondary btn-sm" ng-click="" > Ver detalles</button></td>
				  </tr>
				  <div ng-show="filtered == 0">
					 	<h3> No hay resultados para el filtro elegido</h3>
					 	<p> Intentá con otros valores </p>
					 </div>
				</tbody>
			  </table>
	</div>
	

  
  
  
